name: head-version
on:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  make-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: install wandbox-api
      run: pip install wandbox-api
    - name: wandbox-api version
      run: wandbox -v
    - name: clean
      run: |
        rm -rf ./docs/shields/head-version
    - name: make docs
      run: ./docs/make-head-version-shields-endpoint.sh
    - name: git config
      run: |
        git config --local user.name ${{ github.actor }}
        git config --local user.email ${{ github.actor }}@users.noreply.github.com
    - name: commit
      run: |
        git add .
        git commit -m "update Head-version" || true
    - name: push
      if: github.event_name == 'schedule'
      run: |
        git push origin main
